<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ebysofyan ~ Submission Dicoding Kelas Microsoft Azure</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css">
</head>

<body>
    <div class="container mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add New Programming</h3>
                        <hr>
                        <form action="{% url 'index:view' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">{{form.name.label}}</label>
                                <input type="text" class="form-control" name="name"
                                    placeholder="Pragramming language name">
                            </div>
                            <div class="form-group">
                                <label for="name">{{form.year.label}}</label>
                                <input type="text" class="form-control" name="year"
                                    placeholder="Pragramming language release year">
                            </div>
                            <div class="form-group">
                                <label for="name">{{form.creator.label}}</label>
                                <input type="text" class="form-control" name="creator"
                                    placeholder="Pragramming language creator">
                            </div>
                            <div class="form-group">
                                <label for="name">{{form.frameworks.label}}</label>
                                <input id="frameworks" type="text" class="form-control" name="frameworks"
                                    placeholder="Pragramming language frameworks">
                                <small class="form-text text-muted">Press enter to multiple input</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Programming Languages</h3>
                        <table class="table table-striped">
                            <thead>
                                <th>No.</th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Creator</th>
                                <th>Frameworks</th>
                                <th style="text-align: center">#</th>
                            </thead>
                            <tbody>
                                {% for p in list %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{p.name}}</td>
                                    <td>{{p.year}}</td>
                                    <td>{{p.creator}}</td>
                                    <td>{{p.frameworks}}</td>
                                    <td style="text-align: center">
                                        <a href="{% url 'index:delete' p.pk %}">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
    <script>
        $("#frameworks").tagsInput({
            'width': '100%',
            'defaultText': 'Programming language frameworks',
        })
    </script>
</body>

</html>